In [1]:
import pandas as pd

lgb = pd.read_csv('submission_lgbm.csv')
lr = pd.read_csv('submission_LR.csv')
svc = pd.read_csv('submission_svc.csv')

In [14]:
result = lgb.Pred + lr.Pred + svc.Pred
lg_result = lgb.Pred / result
lr_result = lr.Pred / result
svc_result = svc.Pred / result

final = lgb.Pred * lg_result + lr.Pred * lr_result + svc.Pred * svc_result
final

0        0.347858
1        0.343052
2        0.339406
3        0.453193
4        0.357776
           ...
11385    0.424173
11386    0.665858
11387    0.564536
11388    0.686251
11389    0.705151
Name: Pred, Length: 11390, dtype: float64

In [15]:
MSampleSubmission = pd.read_csv('MSampleSubmissionStage1.csv')
MSampleSubmission.Pred = final
MSampleSubmission

                   ID      Pred
0      2015_1107_1112  0.347858
1      2015_1107_1116  0.343052
2      2015_1107_1124  0.339406
3      2015_1107_1125  0.453193
4      2015_1107_1129  0.357776
...               ...       ...
11385  2019_1449_1459  0.424173
11386  2019_1449_1463  0.665858
11387  2019_1458_1459  0.564536
11388  2019_1458_1463  0.686251
11389  2019_1459_1463  0.705151

[11390 rows x 2 columns]

In [16]:
MSampleSubmission.to_csv('submission_total.csv', index=False)